$color-blue: #010a65;
$color-orange: #DDA440;
$color-whitesmoke: whitesmoke;
$color-gray: #818181;

$form-title-color: $color-blue;
$form-subtitle-color: $color-gray;
$background-color: $color-whitesmoke;
$label-color: $color-gray;
$form-values-color: $color-gray;

$font-family-roboto: 'Roboto', sans-serif !default;

$font-size-tiny: 7pt; 
$font-size-xsmall: 10pt; 
$font-size-small: 11pt; 
$font-size-medium: 12pt; 
$font-size-large: 14pt; 
$font-size-xlarge: 16pt; 

$font-size-default: $font-size-xsmall;
$font-size-normal: $font-size-medium;
$font-size-print-default: $font-size-tiny;
$font-size-print-normal: $font-size-tiny;

$line-height-default: 1em;