@import "mixins/box-shadow";
@import "variables";
@import "helpers";

body {
    font-family: $font-family-roboto;
    font-size: $font-size-default;
    background-color: $background-color;
}

h1 {
    font-size: $font-size-xlarge;
    color: $form-title-color;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.row-caption {
    font-size: $font-size-large;
    margin-top: 37px;
    color: $label-color;
}

.tools {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
        li {
            margin: 0 6px;
            display: inline;
            font-size: $font-size-xlarge;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &.print-btn {
                color: $color-blue;
                &:hover {
                    color: $color-orange;
                    cursor: pointer;
                }
            }
        }
    }
}

.form-wrapper {
    margin: 30px 0;
    background-color: white;
    padding: 20px 30px;
    $shadow-color: #aaa;
    @include box-shadow(3px 2px 4px rgba($shadow-color, .6));
    label {
        &.button-upload {
            margin-top: 30px !important;
            input[type="file"] {
                opacity: 0;
                position: absolute;
            }
        }
    }
    .title {
        font-size: $font-size-normal;
        margin: 40px 0 5px;
        color: $form-title-color;
        border-bottom: 1px solid $form-title-color;
        &:first-child {
            margin-top: 10px;
        }
        &.main {
            font-size: $font-size-xlarge;
            font-weight: bold;
        }
        &.subtitle {
            color: $color-gray;
            border-bottom-color: lighten($color-gray, 20%);
        }
    }
    .form-group {
        label {
            margin-top: 15px;
            color: $color-gray;
            text-transform: uppercase;
        }
        .help-block {
            color: $color-red;
        }
    }
}

.container-fluid {
    .form-wrapper {
        margin-top: 0; 
        margin-bottom: 0; 
    }
}

.subsection {
    .title {
        margin-top: 30px !important;
        margin-bottom: 0;
        color: $form-subtitle-color;
        border-bottom: 1px dotted $form-subtitle-color !important;
    }
}

.footer {
    display: none;
}

.print_area {
    margin: 30px 0;
    background-color: white;
    padding: 20px 30px 180px;
    $shadow-color: #aaa;
    @include box-shadow(3px 2px 4px rgba($shadow-color, .6));
    header {
        font-weight: bold;
        font-size: $font-size-normal;
        margin-bottom: 10px;
        .form-title {
            color: $form-title-color;
            font-size: $font-size-xlarge;
            text-align: center;
        }
    }
    .logo {
        height: 58px;
        margin-bottom: 5px;
    }
    .address {
        padding: 10px 0 0;
        font-size: $font-size-small;
        p {
            line-height: $line-height-default;
            margin-bottom: 12px;
        }
    }
    section {
        &.row {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    // .page-break {
    //     page-break-before: always;
    // }
    .table {
        margin-bottom: 0;
        &.table-bordered {
            border: 2px solid black;
            border-bottom: 1px solid black;
        }
        thead{
            color: black;
        }
        .thead {
            color: black;
        }
        tbody {
            color: $form-values-color;
        }
        td, th {
            font-weight: normal;
            padding: 3px 10px;
            text-align: center;
            height: 27px;
            vertical-align: middle;
            p {
                min-height: 22px;
                margin-bottom: 0;
            }
        }
        label {
            text-transform: uppercase;
            color: $color-gray;
            display: block;
        }
        .table {
            margin: 0;
            border: none;
            thead {
                tr {
                    border: none;
                }
            }
            td {
                border-top-width: 0;
                border-bottom-width: 0;
                &:first-child {
                    border-left-color: transparent;
                } 
                &:last-child {
                    border-right-color: transparent;
                }
            }
            tr {
                border-bottom: 0;
            }
        }
    }
}

// Media styles
@media print {
    body {
        font-size: $font-size-print-default;
        background-color: white;
        margin: 5mm 5mm 5mm 5mm;
    }
    .tools {
        display: none;
    }
    .footer {
        display: block;
        width: 100%;
        margin: 0 70px;
        position: absolute;
        bottom: 70px;
        font-weight: bold;
        font-size: $font-size-normal;
        p {
            width: 100%;
            text-align: left;
        }
    }
    .print_area {
        margin: 0;
        padding: 0;
        @include box-shadow(0 0 0 transparent);   
        header {
            font-size: $font-size-default !important;
            margin-bottom: 15px !important;
        }
        .logo {
            height: 38px;
            margin-bottom: 5px;
        }
        .print-btn {
            display: none;
        }
        .table {
            width: 100%;
            td {
                padding: 0px 10px;
                height: 20px !important;
            }
        }
        .address {
            padding: 5px 0;
            font-size: $font-size-print-normal;
            p {
                line-height: 1.3em;
                margin-bottom: 0;
            }
        }
        section {
            &.row {
                margin-bottom: 3px;
            }
        }    
    }
    
    #driver-table{
       td:last-child {display:none}
    }

    @page {
        size: A4;
    }
}
